<template>
  <div id="app">
    <div id="nav">
      <template v-if="hasAuthentication()">
        <router-link to="/">Home</router-link> |
        <router-link to="/login">Login</router-link>
      </template>
      <template v-else>
        <router-link to="/">Home</router-link> |
        <router-link to="/yada">Yada</router-link> |
        <router-link to="/foobar">Foobar</router-link> |
      </template>
    </div>
    <router-view/>
  </div>
</template>
<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';

@Component
export default class App extends Vue {
    public hasAuthentication(): boolean {
        // return this.$store.getters.hasAuthentication();
        return this.$store.getters.hasAuthentication;
    }
}
</script>
