% my (@images) = @_;
<div class="float-left">
% for @images -> $image {
  <a href="/vote/showimage/<%= $image<id> %>"> 
    <img src="/vote/img/<%= $image<tn-name> %> " alt="<%= $image<uuid> %>" class="img-thumbnail" />
  </a>
% }
</div>
