<template>
  <div class="login">
    <form class="login" v-on:submit.prevent="login">
      <h1>Sign in</h1>
      <label>User Name</label>
      <input required v-model="username" type="text" placeholder="John Doe" />
      <label>Password</label>
      <input required v-model="password" type="text" placeholder="p4ssw0rd" />
      <hr/>
      <button type="submit">Login</button>
    </form>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import axios from 'axios';

@Component
export default class Login extends Vue {
    public username: string = '';
    public password: string = '';

    public login(): void {
        this.$store.dispatch('setLoginCredentials', {
            username: this.username,
            password: this.password,
        }).then((res) => {
            return axios.get('/api');
        }).then((response) => {
            window.console.log('got a response');
            window.console.log(response);
        }).catch((err) => { /* ignore errors */ });
    }
}
</script>
